/* Formatação Conteúdo da Tela */

.content-screen {
    animation: right 2s;
}

/* Formatação Registro */

.register {
    order: 1;
    animation: right 2s;
}

/* Formatação Login para Cadastro */

.cadastre {
    order: 2;
    animation: left 3s;
}

/* Formatação Âncora de Links */

.anchor {
    padding: 10px 40px;
}